<section class="vh-100" style="background-color: #9A616D;">
<div class="container mt-3">
    <h2 style="text-align:center">Requests By Employee ID: </h2>
    <div class="row">
        <div class="col-2">
    </div>
    <div class="col-8">
<table class="table table-hover">
    <thead>
        <tr>
            <th>Request ID</th>
          <th>Employee ID</th>
          <th>Amount</th>
          <th>Description</th>
          <th>imageURL</th>
          <th>Request Time</th>
          <th>Resolved Time</th>
          <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let request of currentRequestsByEmployee">
                <td>{{request.requestId}}</td><td>{{request.userId}}</td>
                <td>{{request.requestAmount}}</td><td>{{request.requestDescription}}</td>
                <td>{{request.requestImageURL}}</td>
                <td>{{request.requestStatus}}</td>
        </tr>
    </tbody>
</table>
    </div>
    <div class="col-2">
    </div>
  </div>
</div>
</section>
