<h2 style="text-align:center">Pending Reimbursements</h2>
<button type="button" (click)="getPendingRequests()" class="btn btn-link">View</button> 
<div class="row">
  <div class="col-2">
  </div>     
      <div class="col-8">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Request ID</th>
              <th>Employee ID</th>
              <th>Amount</th>
              <th>Description</th>
              <th>imageURL</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let request of pendingRequests">
              <td>{{request.requestId}}</td>
              <td>{{request.userId}}</td>
              <td>{{request.requestAmount}}</td>
              <td>{{request.requestDescription}}</td>
              <td><img [src]="request.requestImageURL" height="80px" width="100px"></td> 
              <td>{{request.requestStatus}}</td>
              <td><button type="button" (click)="Update(request.requestId)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                Update Request
              </button> <!-- The Modal -->
              <div class="modal" id="myModal">
                  <div class="modal-dialog">
                    <div class="modal-content">
                
                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title">Update Request</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                      </div>
                
                      <!-- Modal body -->
                      <div class="modal-body">
                          <button type="button" class="btn btn-light" (click)="changeStatus('approved',this.updateRequest)" >Approve</button>
                          <button type="button" class="btn btn-light" (click)="changeStatus('denied', this.updateRequest)">Deny</button>
                      </div>
                
                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateRequestInfo(this.updateRequest)">Update</button>
                      </div>
                
                    </div>
                  </div>
                </div></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
   
   

