<section class="vh-100" style="background-color: #9A616D;">
<div class="container mt-3">
    <h2 style="text-align:center">Employees</h2>
    <div class="row">
        <div class="col-2">
    </div>
    <div class="col-8">
<table class="table table-hover">
    <thead>
        <tr>
            <td>Employee Id</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of currentAllEmployees">
            <td>{{employee.userId}}</td>
            <td>{{employee.userFirstName}}</td>
            <td>{{employee.userLastName}}</td>
            <td>{{employee.userEmail}}</td>
            <td>
                <button type="button" class="btn btn-light small" (click)="viewEmployeeRequests(employee.userId)">View Employee Requests</button>
            </td>

        </tr>
    </tbody>
</table>
    </div>
    <div class="col-2">
    </div>
  </div>
</div>
</section>
