
  <button type="button" (click)="retreiveUserInfo()" class="btn btn-default">View Employee Information</button>
  <div class="container">
    <p>The .table-bordered class adds borders to a table:</p>            
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Employee Information</th>
          <th><button type="button" (click)="goToUpdateProfile()" class="btn btn-default">View Employee Information</button></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>First Name: {{user.userFirstName}} </td>
        </tr>
        <tr>
          <td>Last Name: {{user.userLastName}}</td>
        </tr>
        <tr>
          <td>Email: {{user.userEmail}}</td>
        </tr>
        <tr>
          <td>Password:{{user.userPassword}} </td>
        </tr>


  
  
   
  
